{% extends 'base.html.twig' %}

{% block body %}
    <body class="bg-warning">
    <div class="container-fluid ">
        <h1 class="text-center mt-5 pt-5" style="font-family: Lobster, cursive;font-size: 40px">Competence</h1>
        <div class="row mt-5">
            {% for competence in competences %}
                <div class="col-md-4 text-center">
                    <i class="{{ competence.description }}" style="font-size: 160px"></i>
                    <h2 style="font-family: Lobster, cursive;">{{ competence.titre }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>

    </div>


    </body>





{% endblock %}