{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="modal-body bg-warning">
        <h3>formulaire Contact</h3>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Prenom">
            </div>
        </div>
    </div>
{% endblock %}
